#[include displays.cfg]
#[include extruder.cfg]
#[include git_backup.cfg]
#[include heaters.cfg]
#[include lights.cfg]
#[include stealthburner_leds.cfg]
#[include steppers.cfg]

[mcu]
serial: /dev/ttyAMA0
restart_method: command

#Utilize the pi as an additional MCU
[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 700  #Max 400
max_accel: 12000			        #Max 7000
max_z_velocity: 25			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 2000
square_corner_velocity: 8.0

#Added for BTT SFS V2
[filament_switch_sensor switch_sensor]
switch_pin: ^rpi:gpio9
pause_on_runout: False
runout_gcode:
  PAUSE
  M117 Filament switch runout
insert_gcode:
  M117 Filamen switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: ^rpi:gpio21
detection_length: 3.6
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted


[input_shaper]
shaper_freq_x = 58.4
shaper_freq_y = 42.4
shaper_type_x = mzv
shaper_type_y = mzv

#[adxl345 external]
#cs_pin = rpi:None
#axes_map = z,y,x

#[lis2dw]
#cs_pin = scanner:PA3
#spi_bus = spi1

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1


[resonance_tester]
accel_chip = adxl345
probe_points = 
	150, 133, 20

[gcode_arcs]
resolution: 0.2

[endstop_phase]

[exclude_object]

[gcode_macro _USER_VARIABLE]
description: Helper: Contains User defined printer variables
##### Homing and general movement #####
#Klicky#vvariable_z_endstop_x: 205             ; z Endstop x position insight right profil
#Klicky#vvariable_z_endstop_y: 306             ; z Endstop y position
#Klicky#vvariable_z_hop: 25 #7.5 #10 #UnKlicky     ; z hop for moves e.g homimg
variable_xy_home_current: 0.6         ; reduced homing curent for x and y
variable_z_home_current: 0.5          ; reduced homing curent for z
#Klicky#vvariable_home_accel: 1200             ; reduced ACCEL for homing
##### Mag Probe #####
#Klicky#vvariable_probe_dock_x: 8          ; x toolhead position before docking probe
#Klicky#vvariable_probe_dock_y: 305           ; y toolhead position before docking probe
#Klicky#vvariable_probe_dock_z: 20 #10 #15             ; z toolhead position before docking probe (only for bed dock)
#Klicky#vvariable_probe_undock_x: 38        ; x toolhead position after docking probe
#Klicky#vvariable_probe_undock_y: 267         ; y toolhead position after docking probe
#Klicky#vvariable_probe_undock_z: 20 #10 #15           ; z toolhead position after docking probe (only for bed dock)
variable_probe_z_min: 20 #7.5             ; z minimum heigh to avoud crash for AUto Z Calibrate
#Klicky#variable_probe_travel_speed: 200      ; dock moves travel speed
#Klicky#vvariable_probe_dock_speed: 100        ; dock speed for attach/dock
##### Respond defaults #####
variable_respond_set_current: 0       ; default of RESPOND if not set in the call
variable_respond_set_acc: 0           ; default of RESPOND if not set in the call
variable_respond_probe_action: 1      ; default of RESPOND if not set in the call
##### Park Position #####
#Klicky#vvariable_park_bed: [150,150,30]       ; different park position
gcode:

[idle_timeout]
timeout: 3600
gcode = 
	status_standby_hotkey
	M84
	TURN_OFF_HEATERS

#[safe_z_home] #Removed for Klicky Probe
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
#home_xy_position:204,307
#speed:200
#z_hop:10
   
#[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

#--------------------------------------------------------------------
##	Gantry Corners for 250mm Build
##	Uncomment for 250mm build
#gantry_corners:
#	-60,-10
#	310, 320
##	Probe points
#points:
#	50,25
#	50,175
#	200,175
#	200,25
	
##	Gantry Corners for 300mm Build
##	Uncomment for 300mm build
#gantry_corners:
#	-60,-10
#	360,370
##	Probe points
#points:
#	50,25
#	50,225
#	250,225
#	250,25

##	Gantry Corners for 350mm Build
##	Uncomment for 350mm build
#gantry_corners:
#	-60,-10
#	410,420
##	Probe points
#points:
#	50,25
#	50,275
#	300,275
#	300,25

#--------------------------------------------------------------------
#speed: 200
#horizontal_move_z: 10
#retries: 5
#retry_tolerance: 0.0075
#max_adjust: 10

[bed_mesh]
speed: 500 #300
horizontal_move_z: 10 #10 #30 #UnKlicky
##--------------------------------------------------------------------
##	Uncomment below for 250mm build
#mesh_min: 40, 40
#mesh_max: 210,210

##	Uncomment for 300mm build
mesh_min: 30, 30 #40, 40
mesh_max: 270, 270 #260,260

##	Uncomment for 350mm build
#mesh_min: 40, 40
#mesh_max: 310,310
##--------------------------------------------------------------------
#fade_start: 1.0 #0.6 #changed for thermal measure
#fade_end: 10 #5.0 #10.0 #changed for thermal measure
probe_count: 35,35 #changed for thermal measure
algorithm: bicubic
zero_reference_position: 150, 150 #40 #changed for thermal measure
#mesh_pps: 0,0 #added for thermal measure
bicubic_tension: 0.6 #0.2 #added for thermal measure
#move_check_distance: 3.0 #added for thermal measure
#split_delta_z: 0.010 #added for thermal measure

[homing_override]
axes = xyz
set_position_z = 0
gcode = 
	{% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
	G90
	G0 Z5 F600
	{% if home_all or 'X' in params %}
	_HOME_X
	{% endif %}
	
	{% if home_all or 'Y' in params %}
	_HOME_Y
	{% endif %}
	
	{% if home_all or 'Z' in params %}
	G90
	G0 X150 Y150 F36000
	G28 Z
	G1 Z10
	{% endif %}

[quad_gantry_level]
gantry_corners = 
	-60,-10
	360,370
points = 
	30,12
	30,250
	270,250
	270,12
speed = 450
horizontal_move_z = 10
retries = 5
retry_tolerance = 0.00750
max_adjust = 10

[gcode_macro _HOME_X]
gcode = 
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.7 %}
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}
    
    # Give the drivers 200ms to stabilize the new current
    G4 P200 
    
    G28 X
    
    G91
    G1 X40 F1200
    M400 # Wait for move to finish
    G4 P1000
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    G4 P200 # Wait for current to stabilize back to run levels

[gcode_macro _HOME_Y]
gcode = 
	
	{% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
	{% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
	{% set HOME_CURRENT = 0.7 %}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Give the drivers 200ms to stabilize the new current
    G4 P200 
    
	G28 Y
	G91
	G1 Y-30 F1200
	G4 P1000
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    G4 P200 # Wait for current to stabilize back to run levels

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing = MY_QUAD_GANTRY_LEVEL
description = Conform a moving, twistable gantry to the shape of a stationary bed with klicky automount
gcode = 
	_CG28
    RESPOND MSG="My MY_QUAD_GANTRY_LEVEL First Pass at 5mm and low tolerance"
      MY_QUAD_GANTRY_LEVEL retries=1 horizontal_move_z=8 speed=5 retry_tolerance=1 max_adjust=50
  
      RESPOND MSG="My MY_QUAD_GANTRY_LEVEL Second Pass at 3mm"
      MY_QUAD_GANTRY_LEVEL retries=10 horizontal_move_z=3
      G0 Z7
      M400
      G28 Z

[shaketune]
result_folder: ~/printer_data/config/K-ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
number_of_results_to_keep: 90
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.
