##	In E0-MOT Position
[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4

##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * (<actual_extrude_distance> / 100)
##  22.6789511 is a good starting point
rotation_distance: 22.18 #20.071 #22.6789511	#Bondtech 5mm Drive Gears
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:10 #50:17				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.800
filament_diameter: 1.75
#max_extrude_cross_section: 
##      In E0 OUT Position
heater_pin: PB15
##	Validate the following thermistor type to make sure it is correct
#sensor_type: PT1000 #NTC 100K beta 3950 
#sensor_type: NTC 100K MGB18-104F39050L32                               # NF Crazy
#sensor_type: ATC Semitec 104GT-2                                        # Rapido first attempt
sensor_type: ATC Semitec 104NT-4-R025H42G                                           #Rapido per Logan BC
sensor_pin: PC0
pullup_resistor: 4700
min_temp: -50 #10
max_temp: 325
max_power: 1.0
min_extrude_temp: 0 #170
control = pid
#PID parameters: pid_Kp=29.271 pid_Ki=1.841 pid_Kd=116.354
#PID parameters: pid_Kp=28.891 pid_Ki=1.646 pid_Kd=126.757 ##50W NF Crazy
#pid_Kp=23.263 pid_Ki=2.184 pid_Kd=61.938 ##100W Rapido
pid_kp = 28.891 #SB #30.934 #26.213 #24V/40W 
#pid_kp = 23.263 #100W
pid_ki = 1.646 #SB #2.042 #1.304 #24V/40W 
#pid_ki = 2.184 #100W
pid_kd = 126.757 #SB #117.164 #131.721 #24V/40W 
#pid_kd = 61.938 #100
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.035 #after Ellis test at "regular" accels #0.04125 #0.05 # based on initial test starting at 0.05
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 300.0

##	In E0-MOT Position
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PD7
interpolate: false
run_current: 0.60 #0.5 Nema14
#hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0

#[filament_motion_sensor runout]
##   The minimum length of filament pulled through the sensor to trigger
##   a state change on the switch_pin
##   Default is 7 mm.
#detection_length: 14.0
#extruder: extruder
#pause_on_runout: FALSE
#runout_gcode:
#  {action_respond_info("RUNOUT: Filament runout")}
#  PAUSE
#insert_gcode:
#  {action_respond_info("RUNOUT: Filament inserted")}
##   The minimum amount of time in seconds to delay between events.
##  Events triggered during this time period will be silently
##  ignored. The default is 3 seconds.
##event_delay: 3.0
##   The amount of time to delay, in seconds, between the pause command
##   dispatch and execution of the runout_gcode. It may be useful to
##   increase this delay if OctoPrint exhibits strange pause behavior.
##   Default is 0.5 seconds.
##pause_delay: 0.5
###    DIAG3
#switch_pin: rpi:gpio21